@font-face {
    font-family: 'Inter Bold';
    src: local('Inter Bold'), url(./fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(./fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'IBM bold';
    src: local('IBM Bold'), url(./fonts/IBMPlexSansHebrew-Bold.ttf);
}

html,
body,
h1 {
    padding: 0;
    margin: 0;
}

html {
    background-color: #E5E5E5;
}

main {
    border-top: 1px solid transparent;
    height: 696px;
    background-color: white;
}

.container {
    width: 1440px;
    margin: auto;
}

header {
    position: absolute;
}

.headerWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 29px;
    margin-left: 110px;
    margin-right: 100px;
}

.navbarButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px;
}

.navbarBtn {
    padding: 0;
    border: none;
    background-color: transparent;
    height: 24px;
    font-family: 'Inter Bold';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.5s;
}

.navbarBtn:hover {
    color: #0190c6
}

.nameAero {
    display: flex;
    justify-content: center;
    width: 843px;
    height: 298px;
    margin-top: 346px;
    margin-left: 31px;
    font-family: 'Inter Bold';
    font-style: normal;
    font-size: 150px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.coursive {
    font-style: italic;
}

.description {
    margin-left: 94px;
    width: 1171px;
    height: 101px;
    margin-top: -51px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

footer {
    padding-top: 16px;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 1440px;
    margin: auto;
}

.linksBar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 16px;
    padding-bottom: 50px;
}

.telegram {
    display: flex;
    gap: 40px;
}

.otherSoc {
    display: flex;
    gap: 40px;
}

.copyright {
    padding-bottom: 50px;
}

.link::after {
    display: block;
    content: "";
    width: 15px;
    height: 2px;
    margin: auto;
    background: rgb(0, 0, 0);
    transition-duration: 0.7s;
}

.link:hover::after {
    width: 100%;
}

.firstPage {
    border-top: 1px solid transparent;
    background: url(./components/Rectangle.png);
}

.disable {
    opacity: 0;
    display: none;
}

.departureHead {
    display: flex;
    align-items: center;
    width: 607px;
    padding-left: 30px;
    border-left: 2px solid #FE6F39;
    border-bottom: 2px solid #FE6F39;
    border-right: 2px solid #FE6F39;
}

.secondPage {
    border-top: 1px solid transparent;
    margin-left: 82px;
}

.departure {
    margin-top: 167px;
    width: 641px;
}

.departureIco {
    filter: invert(1);
    width: 61px;
    height: 37px;
    margin-left: 20px;
}

.HeadText {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.departureElem {
    display: flex;
    align-items: center;
    border-left: 2px solid #FE6F39;
    border-bottom: 2px solid #FE6F39;
    border-right: 2px solid #FE6F39;
    padding-left: 15px;
    width: 622px;
    height: 56px;
}

.time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.planeNumber {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    width: 182px;
}

.place {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: start;
    width: 298px;
    margin-left: 35px;
}

.info {
    display: flex;
}

.arrivalElem {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #FE6F39;
    border-right: 2px solid #FE6F39;
    padding-left: 15px;
    width: 624px;
    height: 56px;
}

.arrival {
    margin-top: 167px;
    width: 641px;
}

.arrivalHead {
    display: flex;
    align-items: center;
    width: 609px;
    padding-left: 30px;
    border-bottom: 2px solid #FE6F39;
    border-right: 2px solid #FE6F39;
}

.shopsHead {
    font-family: 'Inter Bold';
    font-style: normal;
    font-size: 48px;
    color: #FE6F39;
}

.cafeHead {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FE6F39;
}

.heading {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FE6F39;
}

.shopElement {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
}

.thirdPageContainer {
    display: flex;
    height: 457px;
    width: 1281px;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 103px;
}

.shops {
    display: flex;
    flex-direction: column;
}

.cafeWrapper {
    display: flex;
    flex-direction: column;
}

.cafeWrap {
    display: flex;
    margin-top: 39px;
}

.cafe {
    margin-right: 26px;
}

.shopWrapper {
    display: flex;
    margin-right: 157px;
    margin-top: 39px;
}

.rightWrap {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-left: 26px;
}

.leftWrap {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.cafeHead {
    display: flex;
    width: 49px;
    height: 40px;
    align-items: center;
}

.cafeHeadIco {
    filter: invert(1);
}

.shopsHead {
    display: flex;
    width: 49px;
    height: 40px;
    align-items: center;
}

.shopsHeadIco {
    filter: invert(1);
}

.bold {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FE6F39;
    line-height: 32px;
}

.fourthPage {
    width: 1205px;
    height: 527px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    margin-top: 100px;
}

.plusInCircle {
    filter: invert(2);
    width: 50px;
}

.bottonPadding {
    width: 100%;
    border-bottom: 1.5px solid black;
}

.topBar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.medicineStyle {
    padding-bottom: 10px;
    border-bottom: 2px solid #FE6F39;
    margin-bottom: 15px;
}

.active {
    opacity: 1;
    display: block;
}